<%= stylesheet_link_tag 'welcome' %>
<%= javascript_include_tag 'welcome' %>
<div class="container">
  <h1>User's Dashboard</h1>
  <div class="col-md-12" id="dash-panel">
  	<h2> TEST </h2>
  </div>
</div>